/* Stylesheet */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #eeeeee;
}

button {
  border: none;
  background-color: white;
  border-radius: 12px;
  padding: 0.7rem;
  text-align: center;
  margin: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

main {
  width: 60%;
  margin: auto;
  background-color: white;
}

body > main > section {
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  background-color: #2F0A28;
  color: white;
}

.header > div > nav > ul {
  list-style: none;
}

/* Links */
.header > div > nav > ul > li > a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;

  transition-property: font-size;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

.header > div > nav > ul > li > a:hover {
  color: red;
  font-size: 1.1rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-bottom: 1rem;
}

.navigation > nav > ul {
  display: flex;
}

.navigation > nav > ul > li {
  margin-right: 1rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content-name {
  margin: auto;
}

.header-content-image {
  margin: auto;
}

.about {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.about p::first-letter {
  font-weight: 900;
}

.text {
  font-family: 'Lato', sans-serif;
  text-align: justify;
}

p::selection {
  color: orange;
}

.skills {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  background-color: #2F0A28;
  color: white;
}

.skill-meter-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem;
}

meter::-webkit-meter-bar {
  border-radius: 3px;
  width: 25rem;
}

meter::-webkit-meter-optimum-value {
  background: teal;
}

.skill-meter {
  flex: 2;
}

.skill-name {
  flex: 1;
}

.skill-percentage {
  flex: 1;
}

.experience {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.experience-card {
  display: flex;
}

.left-div {
  padding-right: 1rem;
}

.right-div {
  padding-left: 1rem;
}

.right-div > p {
  text-align: justify;
}

.contact {
  background-color: #CADBC0;
  padding-left: 1rem;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.contact > div > ul > li {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  list-style: none;
}
